main {
  min-height: 85vh;
}
footer {
  background: silver;
}

col > .image {
  background-size: cover;
  height: fit-content;
}

img {
  overflow: hidden;
  border-radius: 5%;
}
a {
  text-decoration: none;
}
